# Prep Original Dataset for Database Entry
Excel can't handle the dataset due to it's autoformatting into scientific notation.

### Import requirements

In [1]:
import numpy as np
import pandas as pd

### Import dataset

In [2]:
# Import dataset
df = pd.read_csv('original_school_statistics_data.csv')
df.head(2)

,school_id,school_name,street_address,city,state_code,zip_code,locale_code,pct_proficient_math,pct_proficient_reading,pct_white,pct_black,pct_asian,pct_hispanic,pct_amerindian,pct_nativehawaii,pct_tworaces
0,10000500871,Albertville High Sch,402 E McCord Ave,Albertville,AL,35950,32.0,16.999999,54.000001,64.9018,2.0495,0.5978,31.4261,0.1708,0.0,0.854
1,10000600878,Douglas High Sch,225 Eagle Drive,Douglas,AL,35964,42.0,12.000000,51.999999,74.2373,1.5254,0.5085,23.0508,0.6780,0.0,0.000

In [3]:
# Check dtypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16623 entries, 0 to 16622
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   school_id               16623 non-null  int64
 1   school_name             16623 non-null  object
 2   street_address          16623 non-null  object
 3   city                    16623 non-null  object
 4   state_code              16623 non-null  object
 5   zip_code                16623 non-null  int64
 6   locale_code             16616 non-null  float64
 7   pct_proficient_math     15773 non-null  float64
 8   pct_proficient_reading  15820 non-null  float64
 9   pct_white               16483 non-null  float64
 10  pct_black               16483 non-null  float64
 11  pct_asian               16483 non-null  float64
 12  pct_hispanic            16483 non-null  float64
 13  pct_amerindian          16483 non-null  float64
 14  pct_nativehawaii        16483 non-null  float64
 15  pct_tworaces            16483 non-null  float64
dtypes: float64(10), int64(2), object(4)
memory usage: 2.0+ MB

In [4]:
# Convert locale_code to str
df['locale_code'] = df['locale_code'].astype('str')

In [5]:
# Confirm str dtype
df.dtypes

school_id                   int64
school_name                object
street_address             object
city                       object
state_code                 object
zip_code                    int64
locale_code                object
pct_proficient_math       float64
pct_proficient_reading    float64
pct_white                 float64
pct_black                 float64
pct_asian                 float64
pct_hispanic              float64
pct_amerindian            float64
pct_nativehawaii          float64
pct_tworaces              float64
dtype: object

In [6]:
# Slice sting to remove '.0' from all values
df.locale_code = df.locale_code.str[0:2]

In [7]:
# Confirm success
df.locale_code.value_counts()

21    3554
42    2349
11    2024
41    2004
43    1754
32    1219
13     879
33     764
12     745
31     549
22     464
23     311
na       7
Name: locale_code, dtype: int64

### Separate data into 2 new DataFrames

In [8]:
df_schools = df.copy()
df_schools.head()

,school_id,school_name,street_address,city,state_code,zip_code,locale_code,pct_proficient_math,pct_proficient_reading,pct_white,pct_black,pct_asian,pct_hispanic,pct_amerindian,pct_nativehawaii,pct_tworaces
0,10000500871,Albertville High Sch,402 E McCord Ave,Albertville,AL,35950,32,16.999999,54.000001,64.9018,2.0495,0.5978,31.4261,0.1708,0.0000,0.8540
1,10000600878,Douglas High Sch,225 Eagle Drive,Douglas,AL,35964,42,12.000000,51.999999,74.2373,1.5254,0.5085,23.0508,0.6780,0.0000,0.0000
2,10000600883,Kate D Smith DAR High Sch,6077 Main St,Grant,AL,35747,42,22.000000,72.000000,97.0588,0.6303,0.2101,1.6807,0.0000,0.0000,0.4202
3,10000601585,Brindlee Mt High Sch,994 Scant City Road,Guntersville,AL,35976,41,21.999999,57.000000,93.5310,1.6173,0.5391,3.7736,0.2695,0.0000,0.2695
4,10000700251,Hoover High Sch,1000 Buccaneer Drive,Hoover,AL,35244,13,39.999998,75.000000,57.5275,28.4803,6.3762,4.5696,0.0000,0.0708,2.9756

In [9]:
df_school_statistics = df.copy()
df_school_statistics.head()

,school_id,school_name,street_address,city,state_code,zip_code,locale_code,pct_proficient_math,pct_proficient_reading,pct_white,pct_black,pct_asian,pct_hispanic,pct_amerindian,pct_nativehawaii,pct_tworaces
0,10000500871,Albertville High Sch,402 E McCord Ave,Albertville,AL,35950,32,16.999999,54.000001,64.9018,2.0495,0.5978,31.4261,0.1708,0.0000,0.8540
1,10000600878,Douglas High Sch,225 Eagle Drive,Douglas,AL,35964,42,12.000000,51.999999,74.2373,1.5254,0.5085,23.0508,0.6780,0.0000,0.0000
2,10000600883,Kate D Smith DAR High Sch,6077 Main St,Grant,AL,35747,42,22.000000,72.000000,97.0588,0.6303,0.2101,1.6807,0.0000,0.0000,0.4202
3,10000601585,Brindlee Mt High Sch,994 Scant City Road,Guntersville,AL,35976,41,21.999999,57.000000,93.5310,1.6173,0.5391,3.7736,0.2695,0.0000,0.2695
4,10000700251,Hoover High Sch,1000 Buccaneer Drive,Hoover,AL,35244,13,39.999998,75.000000,57.5275,28.4803,6.3762,4.5696,0.0000,0.0708,2.9756

### Drop necessary columns

In [10]:
column_list = ['school_id', 'school_name', 'street_address', 'city', 'state_code', 'zip_code', 'locale_code']

df_schools = df_schools[['school_id', 'school_name', 'street_address', 'city', 'state_code', 'zip_code', 'locale_code']]
df_schools.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16623 entries, 0 to 16622
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   school_id       16623 non-null  int64
 1   school_name     16623 non-null  object
 2   street_address  16623 non-null  object
 3   city            16623 non-null  object
 4   state_code      16623 non-null  object
 5   zip_code        16623 non-null  int64
 6   locale_code     16623 non-null  object
dtypes: int64(2), object(5)
memory usage: 909.2+ KB

In [11]:
df_school_statistics.drop(columns=['school_name', 'street_address', 'city', 'state_code', 'zip_code', 'locale_code'], inplace=True)
df_school_statistics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16623 entries, 0 to 16622
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   school_id               16623 non-null  int64
 1   pct_proficient_math     15773 non-null  float64
 2   pct_proficient_reading  15820 non-null  float64
 3   pct_white               16483 non-null  float64
 4   pct_black               16483 non-null  float64
 5   pct_asian               16483 non-null  float64
 6   pct_hispanic            16483 non-null  float64
 7   pct_amerindian          16483 non-null  float64
 8   pct_nativehawaii        16483 non-null  float64
 9   pct_tworaces            16483 non-null  float64
dtypes: float64(9), int64(1)
memory usage: 1.3 MB

### Save to datasets directory for import into database

In [12]:
df_schools.to_csv('../datasets/schools_data.csv', index=False)
df_school_statistics.to_csv('../datasets/school_statistics_data.csv', index=False)